DATABASE_URL="mysql://user:password@localhost:3306/blog_db"
DATABASE_USER="user"
DATABASE_PASSWORD="password"
DATABASE_NAME="blog_db"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT=3306
DIRECT_DATABASE_URL="mysql://root:rootpassword@localhost:3306/blog_db"
MYSQL_ROOT_PASSWORD="rootpassword"
PORT=3000
